# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Project specific
server/uploads/
*.sqlite
*.sqlite-journal
firebase-service-account.json

# Mobile build artifacts
client/android/app/build/
client/android/app/build(1)/
client/android/build/
.gradle/
capacitor-cordova-android-plugins/
